<% stylesheet_link_tag 'recipes' %>
<div class="recipes-index-cont">
  <% if @recipes.count == 0 %>
    <h2>There's no recipes yet</h2>
    <%= link_to 'Add the first', new_recipe_path %>
  <% else %>
    <div class="recipes-index">
      <% @recipes.each do |recipe| %>
        <div class="recipes-index-list">
          <div class="recipes-index-actions">
            <h2><%= recipe.name %></h2>
            <% if can?(:destroy, recipe) %>
              <%= button_to "Delete this recipe", recipe_path(recipe.id), method: :delete %>
              <style>
                .button_to{ text-align: left !important; }
              </style>
            <% end %>
          </div>
          <p class="recipes-index-actions"><%= recipe.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
