<h1>Hello World</h1>
<% puts '000000000 RECIPES 000000000' %>
<% puts current_user.id %>
<% puts @recipes.map { |recipe| "recipe #{recipe.id} - #{recipe.name}" } %>
<% puts @ingredient.map {|ingredient| "#{ingredient.name}"} %>
<% puts '000000000 0000000 000000000' %>
<% puts %>
<% puts %>
<% puts %>
<% puts '000000000 INVENTORIES 000000000' %>
<% puts @inventory.map {|inv| "inventory #{inv.id} - #{inv.name}"} %>
<% puts @inventory_ingredient.map {|ingredient| "#{ingredient.name}"} %>
<% puts '000000000 00000000000 000000000' %>