/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ------- Normalization ------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:visited,
*:link {
  text-decoration: none;
  color: black;
}

body {
  padding: 3rem 2rem;
  height: 100vh;
  overflow-y: hidden;
  font-family: monospace;
}

.button_to {
  text-align: center;
}

/* ------- Normalization ------- */

/* ------- Navbar ------- */

.layouts-application-navbar {
  display: flex;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.layouts-application-config {
  display: flex;
  gap: 1rem;
}

/* ------- Navbar ------- */
