.inventories-index-cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    gap: 1rem;
}

.inventory-box-cont {
    width: 63%;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
}

.inventory-box-button{
    flex-direction: column;
    gap: 1rem;
}

.inventory-box-button {
    display: flex;
    align-items: center; 
  }
  
 

.inventory-name,
.inventory-desc {
  margin: 5px;
}

.btn-food-inventory {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c0c3c5; /* Blue color, change it as per your preference */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline from the link */
    border-radius: 5px; /* Rounded corners */
  }
  