
.inventory-details-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.foodinventory{
    width: 80%;
}

.foodsinventory-info{
    display: flex;
    justify-content: space-around;
  
}

.foods-index-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
}