.recipes-index-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes-index {
  padding: 0.5rem 0;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.recipes-index-empty {
  text-align: center;
  padding: 2rem;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.recipes-index-add {
  text-align: right;
  background-color: rgb(248, 248, 248);
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
  border-radius: 5px;
  width: 8rem;
  align-self: flex-end;
}

.recipes-index-add:hover {
  cursor: pointer;
  filter: invert(1);
}

.recipes-index-list {
  width: 100%;
  display: flex;
  gap: 1rem;
  background-color: white;
  border: 3px solid black;
  min-height: 7rem;
}

.recipes-index-link,
.recipes-index-link a {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.recipes-index-link:hover a {
  color: rgb(81, 81, 255);
}

.recipes-index-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 0.5rem;
  text-align: center;
}

.recipe-index-remove {
  border: 0;
  padding: 0.25rem;
  background-color: transparent;
  transition: 0.25s ease-in-out;
}

.recipe-index-remove:hover {
  cursor: pointer;
  color: red;
}

.recipe-index-remove::before {
  content: "";
  position: absolute;
  width: 3.2rem;
  height: 1.3px;
  background-color: rgb(0, 0, 0);
  transform: translateY(0.9rem) translateX(-1.5px) scaleX(0);
  transform-origin: center;
  transition: 0.25s ease-in-out;
}

.recipe-index-remove:hover::before {
  transform: translateY(0.9rem) translateX(-1.5px) scaleX(1);
  background-color: red;
}

.recipes-index-actions:nth-child(1) {
  width: 35%;
}

.recipes-index-actions:nth-child(2) {
  width: 65%;
}

.btn-food-inventory {
  align-self: flex-end;
}
