.recipes-show-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes-show-main {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipes-show-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.recipes-show-features {
  display: flex;
  justify-content: space-between;
}

.recipes-show-public {
  display: flex;
  justify-content: center;
  align-items: center;
}

.public-toggle {
  display: none;
}

.toggle-button {
  transform: scale(0.7) translateY(1px);
}

.public-toggle-label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  background-color: grey;
  border-radius: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.public-toggle-slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.public-toggle:checked + .public-toggle-label .public-toggle-slider {
  left: calc(100% - 24px);
}

.public-toggle:checked + .public-toggle-label {
  background-color: rgb(14, 194, 17);
}

.public-toggle-text {
  margin-left: 10px;
  vertical-align: middle;
}

.recipes-show-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.recipes-show {
  background-color: grey;
  width: 100%;
  padding: 1rem;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.recipes-show-info {
  display: grid;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.recipes-show-info:nth-child(odd) {
  background-color: rgb(187, 187, 187);
}

.recipes-show-info:nth-child(even) {
  background-color: rgb(230, 230, 230);
}

.recipes-upd {
  display: flex;
  justify-content: center;
  gap: 0.35rem;
}

.recipes-title,
.recipes-name,
.recipes-quantity,
.recipes-price,
.recipes-upd {
  text-align: center;
}

.recipes-btn {
  border: 0;
  padding: 0.25rem;
  transition: 0.25s ease-in-out;
  background-color: rgba(0, 0, 0, 0.06);
}

.recipes-btn:hover {
  cursor: pointer;
}

.recipes-btn:nth-child(odd):hover {
  color: rgb(0, 34, 255);
}

.recipes-btn:nth-child(even):hover {
  color: rgb(255, 0, 0);
}

.recipes-btn::before {
  content: "";
  position: absolute;
  height: 1.3px;
  background-color: rgb(0, 0, 0);
  transform: translateY(0.9rem) translateX(-1.3px) scaleX(0);
  transform-origin: center;
  transition: 0.25s ease-in-out;
}

.recipes-btn:nth-child(even)::before {
  width: 2.5rem;
}

.recipes-btn:nth-child(odd)::before {
  width: 2.75rem;
}

.recipes-btn:hover::before {
  transform: translateY(0.9rem) translateX(-1.3px) scaleX(1);
}

.recipes-btn:nth-child(odd):hover::before {
  background-color: rgb(0, 34, 255);
}

.recipes-btn:nth-child(even):hover::before {
  background-color: rgb(255, 0, 0);
}
