.recipes-index-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes-index {
  background-color: rgba(0, 0, 0, 0.212);
  padding: 0.5rem;
  width: 100%;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.recipes-index-list {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.recipes-index-list:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.212);
}

.recipes-index-list:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.089);
}

.recipes-index-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.recipes-index-actions:nth-child(1) {
  width: 35%;
}

.recipes-index-actions:nth-child(2) {
  width: 65%;
}
